@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Nobile:wght@400;500;700&family=RocknRoll+One&display=swap');

.Heading {
  margin-bottom: 5vh;
}

.Heading h1 {
  line-height: 1em;
  font-weight: 500;
  font-size: 5em;
  font-family: 'RocknRoll One', sans-serif;
  text-transform: capitalize;
  margin: 0;
}

@media (min-width: 1000px) {
  .Heading h1 {
    font-size: 9em;
  }
}
