.Modal {
  color: black;
}

.modal-body h3 {
  text-align: center;
}

.modal-body img {
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
}

@media (min-width: 500px) {
  .modal-body img {
    width: 100%;
    max-width: 200px;
    padding: 10px 30px;
  }
}

button {
  text-transform: capitalize;
  -webkit-appearance: none !important;
}
